# Necessary libraries to deploy and test the model on the rapsberry
# Note: We are using a Raspberri Zero W

numpy==1.16.4
h5py==2.9.0
opencv-python==3.4.4.19
tensorflow==1.14.0

# Not sure:
#Cython==0.29.10
#matplotlib==3.0.3
#Keras==2.2.4
#Pillow==6.1.0